.burger {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.burger__line {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 75%;
    right: 0;
    background-color: var(--color-light);
}

.burger__line--short {
    position: absolute;
    width: 60%;
    height: 2px;
    right: 0;
    top: 25%;
    background-color: var(--color-light);
}

.burger__line.active {
    top: 50%;
    transform: rotate(-45deg);
}

.burger__line--short.active {
    width: 100%;
    top: 50%;
    transform: rotate(45deg);
}