.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-dark);
    width: 320px;
    height: 500px;
    padding: 24px;
}

.card:hover {
    border: 1px solid var(--color-accent);
}

.card:hover .card__button {
    background-color: var(--color-accent);
    color: var(--color-dark);
}

.card__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card__price {
    margin-top: 12px;
}

.card__desc {
    margin-top: auto;
    margin-bottom: 12px;
}
