.faq {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.faq__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 1200px) {
        flex-direction: row;
    }
}

.faq__main-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1
}