@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/static/Oswald-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/static/Oswald-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish/static/Mulish-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish/static/Mulish-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish/static/Mulish-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}