.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: fixed;
    background-color: var(--color-dark);
}

.header__navigation {
    display: none;
    position: fixed;
    inset: 60px 0 0 0;
    justify-content: center;
    align-items: center;
}

.header__navigation.active {
    display: flex;
    background-color: var(--color-dark);
}

