.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: fixed;
    background-color: var(--color-dark);
    z-index: 1000;
}

.header__navigation {
    display: none;
    position: fixed;
    inset: 60px 0 0 0;
    justify-content: center;
    align-items: center;

    @media (min-width: 1200px) {
        display: flex;
        inset: 20px 20px 0 0;
        justify-content: flex-end;
        align-items: flex-start;
    }
}

.header__navigation.active {
    display: flex;
    background-color: var(--color-dark);
}

