.info-block {
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-transform: uppercase ;
    justify-content: center;
    align-items: center;

    @media (min-width: 1200px) {
        flex-direction: row;
    }
}