:root {
  --color-dark: #222222;
  --color-light: #ffffff;
  --color-form: #989898;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-weight: 400;
    font-size: 16px;
}

h1, h2, h3, h4, .font-decoration, .font-component{
    font-family: 'Oswald', sans-serif;
}

h1, .font-decoration, .font-component {
    font-weight: 300;
}

h1 {
    line-height: 1.14;
    font-size: 56px;
    text-transform: uppercase;

    @media (min-width: 768px) {
        font-size: 68px;
        line-height: 1.18;
    }

    @media (min-width: 1200px) {
        font-size: 116px;
        line-height: 1.14;
    }
}

h2 {
    line-height: 1.25;
    font-size: 32px;
}

h3 {
    line-height: 1.4;
    font-size: 20px;
    text-transform: uppercase;
}

h4, p {
    line-height: 1.5;
}

.font-small {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.34;
}

.font-italic, .font-component {
    line-height: 1.25;
}

.font-decoration {
    font-size: 48px;
    line-height: 1.125;
}

.wrapper {
    margin: 0 auto;
    padding: 0 20px;
}
