.nomination {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        position: absolute;
        padding: 0 120px 0 60px;
        height: 60px;
        width: 100vh;
        left: 0;
        transform-origin: top left;
        transform: rotate(-90deg);
    }
}

.nomination__line {
    border-bottom: 1px solid var(--color-light);
    width: 100%;
}

.nomination__name {
    min-width: 153px;
}