.promo {
    position: relative;
    background-color: var(--color-dark);
    @media (min-width: 768px) {
        padding-left: 80px;
    }
}

.promo__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    height: 100vh;


    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
    }

    @media (min-width: 1200px) {
        flex-direction: row;
        gap: 40px;
    }
}

.promo__main-information {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    padding-top: 120px;

    @media (min-width: 768px) {
        padding: 160px 0 60px 0;
    }
}

.promo__title {
    max-width: 340px;

    @media (min-width: 768px) {
        max-width: 408px;
    }

    @media (min-width: 1200px) {
        max-width: 740px;
    }
}

.promo__photo {
    @media (max-width: 1200px) {
        display: none;
    }
}

.promo__portrait-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 60px;
    align-items: flex-end;
    justify-content: space-between;

    @media (min-width: 768px) {
        padding-top: 120px;
    }
}

.portrait-block__photo {
    display: block;
    @media (max-width: 1200px) {
        width: 220px;
        height: 294px;
    }
}

.portrait-block__text {
    width: 220px;
    text-align: end;
}
