.recording {
    color: var(--color-dark);
    padding: 40px 0 20px 0;
}

.recording__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 1016px;
}