.scroll-down {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    @media (min-width: 1200px) {
        padding-top: 120px;
    }
}

.scroll-down:hover {
    color: var(--color-accent);
    cursor: pointer;
}

.scroll-down__arrow {
  width: 24px;
  height: 24px;
  background-image: url("../img/scroll-down/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.scroll-down__arrow:hover {
    color: var(--color-accent);
    cursor: pointer;
}